@model Animal
@{ ViewData["Title"] = "Edit " + @Model.Name; }
<h2>Edit</h2>
<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Animal</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TypeId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BuildingId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="BuildingId" class="form-control" asp-items="ViewBag.BuildingId"></select>
                <span asp-validation-for="BuildingId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Male" />
                    <label asp-for="Male"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
@if (((IEnumerable<SelectListItem>) ViewBag.UpgradeId).Any()) {
    <form asp-action="AddUpgrade">
        <div class="form-horizontal">
            <h4>Add upgrade</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="AnimalId" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="TypeId" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select name="UpgradeId" class="form-control" asp-items="ViewBag.UpgradeId"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
}
<div class="form-horizontal">
    <h4>Upgrades</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Upgrade</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (AnimalUpgrade upgrade in Model.AnimalUpgrades) {
            <tr>
                <td>@upgrade.Upgrade.Name</td>
                <td>
                    <form asp-action="RemoveUpgrade">
                        <input type="hidden" name="AnimalId" value="@upgrade.AnimalId" />
                        <input type="hidden" name="UpgradeId" value="@upgrade.UpgradeId" />
                        <input type="submit" value="Remove" class="btn btn-default" />
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
