@model Upgrade
@{
    string disabled = (int)ViewData["Currency"] >= Model.Price ? "" : "disabled";
}
<div class="card">
    <div class="cntr content">
        <div class="header">@Model.Name</div>
        <img class="ui image" src="~/images/upgrades/@Model.SpritePath">
        <div class="description">@Model.Description</div>
    </div>
    <a asp-controller="Store" asp-action="AnimalUpgrade" asp-route-id="@Model.Id" class="ui bottom attached orange button @disabled">
        Buy (
        <i class="fitted dollar icon"></i>@Model.Price)
    </a>
</div>