@model UpgradeViewModel
@{
    string disabled = (int)ViewData["Currency"] >= Model.Price ? "" : "disabled";
}
<div class="card store-card">
    <div class="ui segments">
        <div class="ui segment header">@Model.Name</div>
        <div class="ui segment ray-image-container">
            <img class="ui image" src="~/images/upgrades/@Model.SpritePath">
        </div>
        <div class="ui segment">
            <div class="description">@Model.Description</div>
        </div>
        <div class="ui left labeled button full-width" tabindex="0">
            <p class="ui basic right pointing label">
                <i class="money icon"></i> @Model.Price
            </p>
            <a asp-controller="Store" asp-action="BuildingUpgrade" asp-route-id="@Model.Id" class="ui orange button full-width @disabled">
                <i class="add to cart icon"></i> Buy
            </a>
        </div>
    </div>
</div>