@model BuildingType
@{
    string disabled = (int)ViewData["Currency"] >= Model.Price ? "" : "disabled";
}
<div class="card">
    <div class="item content">
        <div class="header">@Model.Name</div>
        <img class="ui image" src="~/images/buildings/@Model.SpritePath/portrait.png">
        <div class="description">Building capacity: @Model.Capacity</div>
    </div>
    <a asp-controller="Store" asp-action="Building" asp-route-id="@Model.Id" class="ui bottom attached orange button @disabled">
        Buy (
        <i class="fitted dollar icon"></i>@Model.Price)
    </a>
</div>