@model StoreAnimalViewModel
@{ ViewData["Title"] = "Buy animal"; }
<div class="ui stackable two column grid">
    <div class="column info-column">
        <form class="ui segments form" method="post">
            <div class="ui raised segment secondary">
                <h4 class="inline">Buy a @Model.AnimalType.Name</h4>
                <p class="right floated">
                    <i class="ui money icon"></i>
                    @Model.AnimalType.Price
                </p>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Description</p>
                <p>@Model.AnimalType.Description</p>
            </div>
            <div class="ui raised segment field">
                <p class="ui orange ribbon label inline">
                    <label asp-for="Name"></label>
                </p>
                <input asp-for="Name" placeholder="Name"/>
                <span asp-validation-for="Name" class="ui pointing red basic label"></span>
            </div>
            <div class="ui raised segment field">
                <p class="ui orange ribbon label inline">
                    <label asp-for="BuildingId"></label>
                </p>
                <div class="ui selection dropdown">
                    <input type="hidden" asp-for="BuildingId" />
                    <i class="dropdown icon"></i>
                    <div class="default text">Select building</div>
                    <div class="menu">
                        @foreach (BuildingViewModel building in Model.Buildings) {
                            <div class="item" data-value="@building.Id">
                                <img class="ui mini avatar image" src="/images/buildings/@building.SpritePath/portrait.png" />
                                @building.Name
                            </div>
                        }
                    </div>
                </div>
                <span asp-validation-for="BuildingId" class="ui pointing red basic label"></span>
            </div>
            <div class="ui two bottom attached buttons">
                <button type="submit" class="ui orange button"><i class="add to cart icon"></i> Buy</button>
                <a asp-controller="Store" asp-action="Index" class="ui default button">Back</a>
            </div>
        </form>
    </div>
    <div class="column">
        <div class="ui raised segment ray-image-container">
            <img class="ui centered big image" src="~/images/animals/@Model.AnimalType.SpritePath/full.png" />
        </div>
    </div>
</div>