@model Animal
@{
    ViewData["Title"] = "Buy animal";
    AnimalType type = (AnimalType) ViewData["AnimalType"];
}
<div class="ui stackable two column grid">
    <div class="column info-column">
        <form class="ui segments form" method="post">
            <div class="ui raised segment secondary">
                <h4 class="inline">Buy a @type.Name</h4>
                <p class="right floated">
                    <i class="ui money icon"></i>
                    @type.Price
                </p>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Description</p>
                <p>@type.Description</p>
            </div>
            <div class="ui raised segment field">
                <p class="ui orange ribbon label">What would you like to name your animal?</p>
                <input asp-for="Name" />
            </div>
            <div class="ui raised segment field">
                <p class="ui orange ribbon label">Where should the animal live?</p>
                <div class="ui selection dropdown">
                    <input type="hidden" name="BuildingId" />
                    <i class="dropdown icon"></i>
                    <div class="default text">Select building</div>
                    <div class="menu">
                        @foreach (Building building in (IEnumerable<Building>)ViewData["BuildingId"]) {
                            <div class="item" data-value="@building.Id">
                                <img class="ui mini avatar image" src="/images/buildings/@building.Type.SpritePath/portrait.png" />
                                @building.Name
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <button type="submit" class="ui orange button"><i class="add to cart icon"></i> Buy</button>
                <a asp-controller="Store" asp-action="Index" class="ui default button">Back</a>
            </div>
        </form>
    </div>
    <div class="column">
        <div class="ui raised segment ray-image-container">
            <img class="ui centered big image" src="~/images/animals/@type.SpritePath/full.png" />
        </div>
    </div>
</div>