@model Building
<h3>My animals in @Model.Name</h3>

<div class="ui container">
    <div class="upgrades right floated">
        <h3>Building upgrades</h3>
        <a asp-controller="Store" asp-action="Index">
            <img class="ui mini bordered circular image left floated tooltip" data-content="Buy upgrades" src="~/images/upgrades/upgrade.png" />
        </a>
        @foreach (Upgrade upgrade in Model.Upgrades) {
            <a asp-controller="Store" asp-action="BuildingUpgrade" asp-route-id="@upgrade.Id">
                <img class="ui mini bordered circular image left floated tooltip" data-content="@upgrade.Name" src="~/images/upgrades/@upgrade.SpritePath" />
            </a>
        }
    </div>
</div>
<p>@Model.Capacity</p>
<div class="ui cards">
    @foreach (Animal animal in Model.Animals) {
    @Html.Partial("/Views/Animal/_AnimalCardPartial.cshtml", animal)
    }
    @if (Model.Animals.Count < Model.Capacity)
    {
        <div class="ui card shop">
            <div class="image">
                <img src="~/images/animals/eggs/eggTrio_icon.jpg" />
            </div>
            <div class="content">
                <div class="header">Empty room</div>
                <div class="description">There is room for another pet in this house</div>
            </div>
            <div class="extra content">
                <a class="ui button large fluid orange" asp-controller="Store" asp-action="Index">
                    Buy
                    <i class="icon shop"></i>
                </a>
            </div>
        </div>
    }
  
</div>