@model BuildingDetailsViewModel
@{ ViewData["Title"] = "Building details"; }
<div class="ui stackable two column grid">
    <div class="column info-column">
        <div class="ui segments">
            <div class="ui raised segment secondary">
                <h4>@Model.Building.Name</h4>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Statistics</p>
                <div class="ui four small statistics">
                    <div class="statistic">
                        <div class="value">
                            @Model.Building.Animals.Count()
                        </div>
                        <div class="label">
                            pets
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            @Model.Building.Capacity
                        </div>
                        <div class="label">
                            capacity
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            @Model.Building.Reward
                        </div>
                        <div class="label">
                            income
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            @Model.Building.Upgrades.Count()
                        </div>
                        <div class="label">
                            upgrades
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Upgrades</p>
                <div class="upgrades clearfix" >
                    <div class="ui inline simple dropdown">
                        <div class="text">
                            <img class="ui avatar image" src="~/images/upgrades/upgrade.png" />
                        </div>
                        <div id="upgrade-menu" class="menu vertical basic buttons">
                            @foreach (UpgradeViewModel upgrade in Model.Upgrades) {
                                <form asp-controller="Store" asp-action="BuildingUpgrade" asp-route-id="@upgrade.Id">
                                    <input type="hidden" name="BuildingId" value="@Model.Building.Id" />
                                    <button type="submit" class="ui item basic button tooltip" data-content="@upgrade.Description" data-position="right center" name="UpgradeId" value="@upgrade.Id">
                                        <img class="ui avatar image" src="~/images/upgrades/@upgrade.SpritePath" />
                                        @upgrade.Name
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                    @foreach (UpgradeViewModel upgrade in Model.Building.Upgrades) {
                        <div>
                            <img class="ui avatar image image tooltip" data-content="@upgrade.Description" src="~/images/upgrades/@upgrade.SpritePath" />
                        </div>
                    }
                </div>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Description</p>
                <p>@Model.Building.Description</p>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Status</p>
                <p>@Model.Building.StatusText</p>
            </div>
            <div class="ui raised segment">
                <div class="ui small indicating progress progressbar tooltip" data-content="@Model.Building.HappinessPercentage%" data-value="@Model.Building.HappinessPercentage" data-total="100">
                    <div class="bar"></div>
                    <div class="label">Happiness</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui raised segment ray-image-container">
            <img class="ui centered big image" src="~/images/buildings/@Model.Building.SpritePath/full.png"/>
        </div>
    </div>
</div>
<div class="ui segment secondary mid-segment-header">
    <h4>My pets in the building</h4>
</div>
<div class="ui cards">
    @foreach(AnimalViewModel animal in Model.Building.Animals) {
        @Html.Partial("~/Views/Animal/_AnimalCardPartial.cshtml", animal)
    }
</div>