@model Animal
@{ ViewData["Title"] = "Details for "+Model.Name; }
<h2 class="item">@Model.Name</h2>

<a asp-controller="Building" asp-action="Details" asp-route-id="@Model.Building.Id" class="large floated left circular grey basic animated ui icon button">
    <div class="visible content">
        <i class="chevron left icon"></i>
    </div>
    <div class="hidden content">Back</div>
</a>

<div class="ui container">
    <div class="upgrades right floated" >
        <h3>Animal upgrades</h3>
        <a asp-controller="Store" asp-action="Index">
            <img class="ui mini bordered circular image left floated tooltip" data-content="Buy upgrades" src="~/images/upgrades/upgrade.png" />
        </a>
            @foreach (Upgrade upgrade in Model.Upgrades) {
                <a asp-controller="Store" asp-action="AnimalUpgrade" asp-route-id="@upgrade.Id">
                    <img class="ui mini bordered circular image left floated tooltip" data-content="@upgrade.Name" src="~/images/upgrades/@upgrade.SpritePath" />
                </a>
            }
    </div>
    <img class="ui centered big image" src="~/images/animals/@Model.Type.SpritePath/full.png"/>
</div>

<div class="ui three column grid">
    <div class="column">
        <form class="animal-action" asp-controller="Animal" asp-action="Feed" asp-route-id="@Model.Id" method="post">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Well fed</div>
                    <div class="ui divider"></div>
                    <div class="ui indicating progress progressbar tooltip" data-content="@Model.FeedPercentage%" data-value="@Model.FeedPercentage" data-total="100">
                        <div class="bar"></div>
                    </div>
                </div>
                <button class="ui bottom attached orange button" type="submit">
                    <i class="food icon"></i>
                    Feed
                </button>
            </div>
        </form>
    </div>
    <div class="column">
        <form class="animal-action" asp-controller="Animal" asp-action="Sleep" asp-route-id="@Model.Id" method="post">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Rested</div>
                    <div class="ui divider"></div>
                    <div class="ui indicating progress progressbar tooltip" data-content="@Model.SleepPercentage%" data-value="@Model.SleepPercentage" data-total="100">
                        <div class="bar"></div>
                    </div>
                </div>
                <button class="ui bottom attached orange button" type="submit">
                    <i class="hotel icon"></i>
                    Sleep
                </button>
            </div>
        </form>
    </div>
    <div class="column">
        <form class="animal-action" asp-controller="Animal" asp-action="Pet" asp-route-id="@Model.Id" method="post">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Loved</div>
                    <div class="ui divider"></div>
                    <div class="ui indicating progress progressbar tooltip" data-content="@Model.PetPercentage%" data-value="@Model.PetPercentage" data-total="100">
                        <div class="bar"></div>
                    </div>
                </div>
                <button class="ui bottom attached orange button" type="submit">
                    <i class="heart icon"></i>
                    Pet
                </button>
            </div>
        </form>
    </div>
</div>