@model Animal
@{ ViewData["Title"] = "Details for "+Model.Name; }
<h2>@Model.Name, type @Model.Type.Name, lives in "<a asp-controller="Building" asp-action="Details" asp-route-id="@Model.Building.Id">@Model.Building.Name</a>" building</h2>
<h4>Needs</h4>
<table class="table">
    <tr>
        <td class="col-md-3">Well fed</td>
        <td class="col-md-6">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: @Model.FeedPercentage%">@Model.FeedPercentage%</div>
            </div>
        </td>
        <td class="col-md-3 text-right">
            <form asp-action="Feed">
                <button class="btn btn-default" type="submit">Feed</button>
            </form>
        </td>
    </tr>
    <tr>
        <td class="col-md-3">Rested</td>
        <td class="col-md-6">
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: @Model.SleepPercentage%">@Model.SleepPercentage%</div>
            </div>
        </td>
        <td class="col-md-3 text-right">
            <form asp-action="Sleep">
                <button class="btn btn-default" type="submit">Sleep</button>
            </form>
        </td>
    </tr>
    <tr>
        <td class="col-md-3">Loved</td>
        <td class="col-md-6">
            <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: @Model.PetPercentage%">@Model.PetPercentage%</div>
            </div>
        </td>
        <td class="col-md-3 text-right">
            <form asp-action="Pet">
                <button class="btn btn-default" type="submit">Pet</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>Overall</td>
        <td colspan="2">
            <div class="progress">
                <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width: @Model.HappinessPercentage%">@Model.HappinessPercentage%</div>
            </div>
        </td>
    </tr>
</table>