@model Animal
@{ ViewData["Title"] = "Details for "+Model.Name; }
<h2>@Model.Name, type @Model.Type.Name, lives in "<a asp-controller="Building" asp-action="Details" asp-route-id="@Model.Building.Id">@Model.Building.Name</a>" building</h2>
<div class="ui container">
    <img class="ui centered big image" src="~/images/animals/@Model.Type.SpritePath/full.png" />
</div>
<div class="ui three column grid">
    <div class="column">
        <form asp-controller="Animal" asp-action="Feed" method="post">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Well fed</div>
                    <div class="ui divider"></div>
                    <div class="ui indicating progress progressbar tooltip" data-content="@Model.FeedPercentage%" data-value="@Model.FeedPercentage" data-total="100">
                        <div class="bar"></div>
                    </div>
                </div>
                <button class="ui bottom attached button" type="submit">
                    <i class="food icon"></i>
                    Feed
                </button>
            </div>
        </form>
    </div>
    <div class="column">
        <form asp-controller="Animal" asp-action="Sleep" method="post">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Rested</div>
                    <div class="ui divider"></div>
                    <div class="ui indicating progress progressbar tooltip" data-content="@Model.SleepPercentage%" data-value="@Model.SleepPercentage" data-total="100">
                        <div class="bar"></div>
                    </div>
                </div>
                <button class="ui bottom attached button" type="submit">
                    <i class="hotel icon"></i>
                    Sleep
                </button>
            </div>
        </form>
    </div>
    <div class="column">
        <form asp-controller="Animal" asp-action="Pet" method="post">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Loved</div>
                    <div class="ui divider"></div>
                    <div class="ui indicating progress progressbar tooltip" data-content="@Model.PetPercentage%" data-value="@Model.PetPercentage" data-total="100">
                        <div class="bar"></div>
                    </div>
                </div>
                <button class="ui bottom attached button" type="submit">
                    <i class="heart icon"></i>
                    Pet
                </button>
            </div>
        </form>
    </div>
</div>