@model Animal
@{
    ViewData["Title"] = "Building details";
    string[] ageSplit = Model.Age.Split(' ');
}
<div class="ui stackable two column grid">
    <div class="column info-column">
        <div class="ui segments">
            <div class="ui raised segment secondary">
                <h4 class="inline">@Model.Name</h4>
                <a asp-controller="Building" asp-action="Details" asp-route-id="@Model.BuildingId">
                    <img class="ui avatar right floated image tooltip" data-content="Resides in @Model.Building.Name" src="~/images/buildings/@Model.Building.Type.SpritePath/portrait.png" />
                </a>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Statistics</p>
                <div class="ui four small statistics">
                    <div class="statistic">
                        <div class="value">
                            @ageSplit[0]
                        </div>
                        <div class="label">
                            @ageSplit[1] old
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            <i class="@(Model.Male ? "man" : "woman") icon"></i>
                        </div>
                        <div class="label">
                            @(Model.Male ? "male" : "female")
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            @Model.GetReward()
                        </div>
                        <div class="label">
                            value
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            @Model.AnimalUpgrades.Count
                        </div>
                        <div class="label">
                            upgrades
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Upgrades</p>
                <div class="upgrades clearfix">
                    <div class="ui inline simple dropdown">
                        <div class="text">
                            <img class="ui avatar image" src="~/images/upgrades/upgrade.png" />
                        </div>
                        <div class="menu vertical basic buttons">
                            @foreach (Upgrade upgrade in (IEnumerable<Upgrade>) ViewData["Upgrades"]) {
                                <form asp-controller="Store" asp-action="AnimalUpgrade" asp-route-id="@upgrade.Id">
                                    <input type="hidden" name="AnimalId" value="@Model.Id" />
                                    <button type="submit" class="ui item basic button tooltip" data-content="@upgrade.Description" name="UpgradeId" value="@upgrade.Id">
                                        <img class="ui avatar image" src="~/images/upgrades/@upgrade.SpritePath" />
                                        @upgrade.Name
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                    @foreach (Upgrade upgrade in Model.Upgrades) {
                        <div>
                            <img class="ui avatar image tooltip" data-content="@upgrade.Description" src="~/images/upgrades/@upgrade.SpritePath"/>
                        </div>
                    }
                </div>
            </div>
            <div class="ui raised segment">
                <p class="ui orange ribbon label">Status</p>
                <p>@Model.GetStatusText()</p>
            </div>
            <div class="ui raised segment">
                <div class="ui small indicating progress progressbar tooltip" data-content="@Model.HappinessPercentage%" data-value="@Model.HappinessPercentage" data-total="100">
                    <div class="bar"></div>
                    <div class="label">Happiness</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui raised segment ray-image-container">
            <img class="ui centered big image" src="~/images/animals/@Model.Type.SpritePath/full.png"/>
        </div>
    </div>
</div>
<div class="ui segment secondary mid-segment-header">
    <h4>Animal actions</h4>
</div>
<div class="ui three column stackable grid">
    <div class="column">
        <form class="animal-action" asp-controller="Animal" asp-action="Feed" asp-route-id="@Model.Id" method="post">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Well fed</div>
                    <div class="ui divider"></div>
                    <div class="ui indicating progress progressbar tooltip" data-content="@Model.FeedPercentage%" data-value="@Model.FeedPercentage" data-total="100">
                        <div class="bar"></div>
                    </div>
                </div>
                <button class="ui bottom attached orange button" type="submit">
                    <i class="food icon"></i>
                    Feed
                </button>
            </div>
        </form>
    </div>
    <div class="column">
        <form class="animal-action" asp-controller="Animal" asp-action="Sleep" asp-route-id="@Model.Id" method="post">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Rested</div>
                    <div class="ui divider"></div>
                    <div class="ui indicating progress progressbar tooltip" data-content="@Model.SleepPercentage%" data-value="@Model.SleepPercentage" data-total="100">
                        <div class="bar"></div>
                    </div>
                </div>
                <button class="ui bottom attached orange button" type="submit">
                    <i class="hotel icon"></i>
                    Sleep
                </button>
            </div>
        </form>
    </div>
    <div class="column">
        <form class="animal-action" asp-controller="Animal" asp-action="Pet" asp-route-id="@Model.Id" method="post">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Loved</div>
                    <div class="ui divider"></div>
                    <div class="ui indicating progress progressbar tooltip" data-content="@Model.PetPercentage%" data-value="@Model.PetPercentage" data-total="100">
                        <div class="bar"></div>
                    </div>
                </div>
                <button class="ui bottom attached orange button" type="submit">
                    <i class="heart icon"></i>
                    Pet
                </button>
            </div>
        </form>
    </div>
</div>