@using ItsyBits.Helpers
@model Upgrade
@{ ViewData["Title"] = "Create upgrade"; }
<h2>Create</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Upgrade</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FeedModifier" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.FeedModifier)"></label>
            <div class="col-md-10">
                <input asp-for="FeedModifier" class="form-control" />
                <span asp-validation-for="FeedModifier" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SleepModifier" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.SleepModifier)"></label>
            <div class="col-md-10">
                <input asp-for="SleepModifier" class="form-control" />
                <span asp-validation-for="SleepModifier" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PetModifier" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.PetModifier)"></label>
            <div class="col-md-10">
                <input asp-for="PetModifier" class="form-control" />
                <span asp-validation-for="PetModifier" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Method" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.Method)"></label>
            <div class="col-md-10">
                <input asp-for="Method" class="form-control" />
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SpritePath" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.SpritePath)"></label>
            <div class="col-md-10">
                <input asp-for="SpritePath" class="form-control" />
                <span asp-validation-for="SpritePath" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="ForAnimal" />
                    <label asp-for="ForAnimal"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="ForBuilding" />
                    <label asp-for="ForBuilding"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsStackable" />
                    <label asp-for="IsStackable"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.Price)"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CapacityModifier" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.CapacityModifier)"></label>
            <div class="col-md-10">
                <input asp-for="CapacityModifier" class="form-control" />
                <span asp-validation-for="CapacityModifier" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
