@model Upgrade
@{ ViewData["Title"] = "Delete " + @Model.Name; }
<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Upgrade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
        <dt>@Html.DisplayNameFor(model => model.FeedModifier)</dt>
        <dd>@Html.DisplayFor(model => model.FeedModifier)</dd>
        <dt>@Html.DisplayNameFor(model => model.SleepModifier)</dt>
        <dd>@Html.DisplayFor(model => model.SleepModifier)</dd>
        <dt>@Html.DisplayNameFor(model => model.PetModifier)</dt>
        <dd>@Html.DisplayFor(model => model.PetModifier)</dd>
        <dt>@Html.DisplayNameFor(model => model.Method)</dt>
        <dd>@Html.DisplayFor(model => model.Method)</dd>
        <dt>@Html.DisplayNameFor(model => model.SpritePath)</dt>
        <dd>@Html.DisplayFor(model => model.SpritePath)</dd>
        <dt>@Html.DisplayNameFor(model => model.ForAnimal)</dt>
        <dd>@Html.DisplayFor(model => model.ForAnimal)</dd>
        <dt>@Html.DisplayNameFor(model => model.ForBuilding)</dt>
        <dd>@Html.DisplayFor(model => model.ForBuilding)</dd>
    </dl>
    <form asp-action="Delete">
        <div>
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
