@model IEnumerable<Upgrade>
@{ ViewData["Title"] = "Upgrades"; }
<h2>@ViewData["Title"]</h2>
<p><a asp-action="Create">Create New</a></p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.FeedModifier)</th>
            <th>@Html.DisplayNameFor(model => model.SleepModifier)</th>
            <th>@Html.DisplayNameFor(model => model.PetModifier)</th>
            <th>@Html.DisplayNameFor(model => model.Method)</th>
            <th>@Html.DisplayNameFor(model => model.SpritePath)</th>
            <th>@Html.DisplayNameFor(model => model.ForAnimal)</th>
            <th>@Html.DisplayNameFor(model => model.ForBuilding)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.FeedModifier)</td>
            <td>@Html.DisplayFor(modelItem => item.SleepModifier)</td>
            <td>@Html.DisplayFor(modelItem => item.PetModifier)</td>
            <td>@Html.DisplayFor(modelItem => item.Method)</td>
            <td>@Html.DisplayFor(modelItem => item.SpritePath)</td>
            <td>@Html.DisplayFor(modelItem => item.ForAnimal)</td>
            <td>@Html.DisplayFor(modelItem => item.ForBuilding)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
