@using ItsyBits.Helpers
@model AnimalType
@{ ViewData["Title"] = "Edit "+@Model.Name; }
<h2>Edit</h2>
<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Animal type</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FeedTime" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.FeedTime)"></label>
            <div class="col-md-10">
                <input asp-for="FeedTime" class="form-control" />
                <span asp-validation-for="FeedTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SleepTime" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.SleepTime)"></label>
            <div class="col-md-10">
                <input asp-for="SleepTime" class="form-control" />
                <span asp-validation-for="SleepTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PetTime" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.PetTime)"></label>
            <div class="col-md-10">
                <input asp-for="PetTime" class="form-control" />
                <span asp-validation-for="PetTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LevelMultiplier" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.LevelMultiplier)"></label>
            <div class="col-md-10">
                <input asp-for="LevelMultiplier" class="form-control" />
                <span asp-validation-for="LevelMultiplier" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SpritePath" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.SpritePath)"></label>
            <div class="col-md-10">
                <input asp-for="SpritePath" class="form-control" />
                <span asp-validation-for="SpritePath" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label" data-toggle="tooltip" data-placement="right" title="@Html.DescriptionFor(model => model.Price)"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="SpritePath" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
