@using ItsyBits.Helpers
@model IEnumerable<NotificationViewModel>
@{ int unread = Model.Count(n => !n.IsRead); }
<div class="ui pointing dropdown top right item grey" id="notifications-button">
    <i class="alarm icon"></i>
    @if (unread > 0) {
        <div class="floating ui red circular mini label" id="notification-count">@unread</div>
    }
    <div class="ui menu comments notifications">
        @foreach (NotificationViewModel notification in Model.OrderByDescending(n => n.Created).Take(5)) {
            string selected = notification.IsRead ? "" : "selected";
            <div class="comment item @selected">
                <a class="avatar" href="@notification.Link">
                    <img src="/images/@notification.Image" />
                </a>
                <div class="content">
                    <a class="author" href="@notification.Link">@notification.Title</a>
                    <div class="metadata">
                        <div class="date">@notification.Created.ReadableAge() ago</div>
                    </div>
                    <div class="text">@notification.Message</div>
                </div>
            </div>
        }
    </div>
</div>