@using ItsyBits.Helpers
@model IEnumerable<NotificationViewModel>
@{ int unread = Model.Count(n => !n.IsRead); }
<div class="ui pointing dropdown top right item grey" id="notifications-button">
    <i class="alarm icon"></i>
    @if (unread > 0) {
        <div class="floating ui red circular mini label" id="notification-count">@unread</div>
    }
    <div class="ui vertical menu comments notifications">
        @foreach (NotificationViewModel notification in Model.OrderByDescending(n => n.Created).Take(5)) {
            string selected = notification.IsRead ? "" : "selected";
            <a href="@notification.Link" class="comment item @selected">
                <div class="avatar" href="@notification.Link">
                    <img src="/images/@notification.Image" />
                </div>
                <div class="content">
                    <p class="author inline">@notification.Title</p>
                    <div class="metadata">
                        <div class="date">@notification.Created.ReadableAge() ago</div>
                    </div>
                    <div class="text">@notification.Message</div>
                </div>
            </a>
        }
        <a asp-controller="User" asp-action="Notifications" class="item secondary">
            <i class="alarm icon"></i> View all
        </a>
    </div>
</div>